@charset "utf-8";
/* CSS Document */
body {
	font-size:2.5rem;
	background:#f1f1f1;
}

h1 {
	font-size:5rem;
	color:#333;
}
h2 {
	font-size:4.5rem;
	color:#333;
}
h3 {
	font-size:4rem;
	color:#333;
}

#header {
	background:#333;
	color:white;
	padding:50px 0 0 0;
}

#header h1 {
	color:white;
}

.nav-tabs {
	border:none;
	margin-top:50px;
}

.nav-tabs>li.active>a {
	background-color:#f1f1f1;
	border-color:#f1f1f1;
	cursor:initial;
}

#content {
	padding:50px 0;
	background:#f1f1f1;
}

#designer {
	padding:50px 0;
}

footer {
	padding:50px 0;
}
